#container aside {
  background-color: rgba(78, 36, 112, 0.637);
  width: 180px;
  height: 25em;
  float: left;
  text-align: center;
  margin: 2% 0 0 0;
  border-radius: 5px;
  color: rgb(206, 200, 200);
  text-decoration: none;
}

aside p {
  padding: 5px;
}

aside img {
  width: 130px;
  height: 130px;
}
