#container main {
  grid-area: main;
}

#comentarios {
  background-color: rgb(161, 101, 218);
  width: 800px;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  display: flex;
}

form {
  width: 200px;
  background-color: rgba(118, 37, 194, 0.863);
  text-align: center;
  margin: 0 0 0 1%;
  padding: 8px;
  border-radius: 10px;
}

form #nome,
input[type="email"] {
  border-radius: 7px;
  border: none;
  padding: 5px;
  outline: none;
}

input[type="submit"] {
  color: black;
  background-color: rgb(29, 226, 11);
  border: none;
  padding: 8px;
  margin-top: 12px;
}
input[type="submit"]:hover {
  background-color: rgb(62, 189, 51);
}
form #comentario {
  height: 70px;
  padding: 6px;
  border-radius: 7px;
  border: none;
  outline: none;
}

table {
  width: 790px;
  height: auto;
  background-color: rgba(118, 37, 194, 0.863);
  border-radius: 10px;
  margin: 1% 0 0 1%;
  padding: 10px;
  display: block;
}

table th {
  padding-left: 10px;
}
