#container nav {
  grid-area: nav;
  height: 22px;
  background-color: rgba(90, 48, 124, 0.637);
  border-radius: 10px;
  text-align: center;
  padding: 9px;
}

#bar {
  text-decoration: none;
  color: white;
  margin-left: 14px;
  padding: 5px;
}

#bar:hover {
  background-color: rgba(159, 109, 201, 0.774);
  border-radius: 20px;
}
