#container nav {
  background-color: rgba(78, 36, 112, 0.637);
  height: 25px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
#bar {
  width: 200px;
  color: rgb(204, 198, 198);
  margin: 20px;
  text-decoration: none;
  padding-top: 5px;
}

#bar:hover {
  color: rgb(125, 252, 252);
  font-size: 18px;
  transition: 1s;
}
