/* Padrão, Aipad air e mini, surface Pro 7 */

@media screen and (max-width: 660px) {
  main {
    margin-right: 330px;
    width: 50px;
    float: right;
  }
  main img {
    width: 350px;
    margin-top: 20px;
  }
  footer {
    margin-top: 450px;
  }
}

@media screen and (max-width: 630px) {
  main {
    width: 10px;
  }
  main img {
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 540px) {
}

/* Iphones, samsungs  */

@media screen and (max-width: 535px) {
  #container {
    display: flex;
    flex-direction: column;
  }
  header {
    width: 100%;
  }
  nav {
    margin-bottom: 5px;
    width: 100%px;
  }
  main img {
    width: 170px;
  }
  footer {
    margin-top: -180px;
  }
}
